:root{
    --primary-color: white;
    --secondary-color: rgb(138, 92, 150);
    --accentColor: rgb(68, 65, 65);
}

header,main,footer{
    font-family: "Lexend", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: .2rem;
    padding: 1rem;
    background-color: var(--secondary-color);
}

header, main{
    margin-bottom: 1rem;
}

header img{
    width: 100%;
}

#heroContainer{
    position: relative;
}

#heroContainer h1{
    font-weight: 800;
    font-size: 2rem;
    position: absolute;
    top: 30%;
    /* margin-left: 1rem; */
    max-width: 80vw;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
}

#heroContainer img{
    margin-top: 5.5rem;
}

#planning img, #mainLinks img{
    width: 100%;
}

#mainLinks a{
    text-decoration: none;
    color: black;
    font-size: x-large;
}

#menu::before{
    font-size: x-large;
    content: "Navigation";
    position: absolute;
    text-align: center;
    right: 24px;
    left: 24px;
    top: 24px;
    padding: 1.5rem;
    background-color: var(--primary-color);
}

#menu.show::before{
    content: "Close";
    position: absolute;
}

.navigation li{
    display: none;
    text-align: center;
    width: 100%;
}

.sortOrganization{
    gap: .25rem;
    display: grid;
    padding: 0;
}



.sortOrganization li{
    padding: 0;
    display: grid;
    text-decoration: none;
    text-align: center;
    /* width: 100%; */
    list-style-type: none;
    padding: 1rem;
}

.show li{
    display: grid;
    border-top: 2px solid var(--accentColor);
}

.navigation{
    position: absolute;
    left: 24px;
    right: 24px;
    top: 5.2rem;
    padding: 0;
    gap: .25rem;
}



nav a{
    text-decoration: none;
    color: black;
    background-color: var(--primary-color);
    /* margin: 1rem; */
    padding: 1rem;
}

#menu{
    text-decoration: none;
}



main{
    padding: .5rem;
}

#entries img{
    width: 100%;
    padding: none;
}

.entry{
    /* padding: 1rem; */
    margin: 1rem 0;
    background-color: var(--primary-color);
    border-top: 3px solid var(--accentColor);
    border-bottom: 3px solid var(--accentColor);
}

.entry h3{
    text-align: center;
}

.entry p{
    padding: 1rem;
}

/* FOOOOOOOOOOOOOOOOOOOOOOOOOOOOTER */
footer{
    display: grid;
    text-align: center;
}

footer span{
    padding: .5rem;
}

#emailSignup{
    margin: 0 auto;
    display: grid;
    /* width: 95%; */
    max-width: 400px;
}
#emailSignup input, #emailSignup button{
    border: none;
    text-align: center;
    /* min-width: fit-content; */
    padding: 1rem;
    font-size: 1.5rem;
    margin: .5rem
}

#emailSignup button{
    background-color: var(--primary-color);
    color: var(--accentColor);
}



