caption{
    caption-side: bottom;
}

/* tbody tr:nth-child(odd){
    background-color: beige;
} */

thead{
    background-color: black;
    color: white;
}

td{
    text-align: center;
}


tr:even-rows {background-color: skyblue}