@media screen and (min-width: 600px) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    main h1{
        grid-column: 1/-1;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}